<div class="contacts">
  <div class="contacts-wrap">
    <div class="contacts-search">
      <div class="input-div">
        <span class="material-icons">search</span>
        <input type="text" [(ngModel)]="searchStr" placeholder="Search...">
      </div>
      <div>
        <button class="search-btn" (click)="search()">Search</button>
        <button class="cancel-btn" (click)="cleanSearchField()">clean</button>
      </div>
    </div>
    <div class="contacts-head">
      <h1>Contacts</h1>
      <span (click)="sort('desc')" class="material-icons red">south</span>
      <span (click)="sort('asc')" class="material-icons green">north</span>
      <span (click)="showModal=true" class="material-icons">add</span>
    </div>
    <hr class="header-border">
    <div class="contact" *ngFor="let contact of contacts; let ind = index">
      <div [routerLink]="[contact.id]">
        <p class="contact-number">{{ind + 1}}.</p>
        <p class="contact-name">{{contact.name}}</p>
      </div>
      <span (click)="delete(contact.id)" class="material-icons">delete</span>
    </div>
    <p *ngIf="contacts.length === 0" class="not-found">Sorry, but nothing was found, please try again...</p>
    <mat-paginator
      [length]="length"
      [pageSize]="10"
      [pageSizeOptions]="[5,10,15]"
      (page)="onPageChange($event)" >
    </mat-paginator>
  </div>
</div>
<app-add-contact-modal *ngIf="showModal" (modalEmit)="emitHandler($event)"></app-add-contact-modal>

